<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des inspections</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="header">
        <h1>📋 Liste des inspections</h1>
    </div>

    <table border="1" cellpadding="10" cellspacing="0" style="margin-top:20px;background:white;">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Inspecteur</th>
            <th>Secteur</th>
            <th>Risque</th>
        </tr>

        {% for inspection in inspections %}
        <tr>
            <td>{{ inspection[0] }}</td>
            <td>{{ inspection[1] }}</td>
            <td>{{ inspection[2] }}</td>
            <td>{{ inspection[3] }}</td>
            <td>{{ inspection[4] }}</td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>
