<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Registre des risques</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="header">
        <h1>⚠️ Registre des risques</h1>
        <p>Gestion des risques SST</p>
    </div>

    <table border="1" cellpadding="10" cellspacing="0">

        <tr>
            <th>ID</th>
            <th>Risque</th>
            <th>Secteur</th>
            <th>Probabilité</th>
            <th>Gravité</th>
            <th>Niveau</th>
        </tr>

    </table>

    <br>

    /
        🏠 Retour au tableau de bord
    </a>

</body>
</html>